@import url(https://fonts.googleapis.com/css2?family=Varela&display=swap);

body {
  font-family: 'Varela', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.box{
    height: 100vh;
    background-color: gray;
    padding: 10px;
}
.first-image .first-img{
    border-radius: 20px;
    cursor: pointer;
}
.close-btn{
    position: relative;
    outline: none;
    z-index: 1;
    border: solid 2px crimson;
    background-color: crimson;
    color: white;
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: .5s;
}
.close-btn:hover{
    border: solid 2px crimson;
    color: crimson;
    background-color: rgba(0, 0, 0, 0.575);
}
.second-image .second-img{
    position: relative;
    left: 30%;
    bottom: 150px;
    z-index: 1;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5);
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.hidden{
    display: none;
}